.header__background {
	height: 320px;
	background-color: #666;
	/* width: 100%; */
}
/* PROFILE */
.profile__container {
	margin-top: 50px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.profile__avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}

.profile__info {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.profile__position {
	color: #808080;
}

/* PROFILE */
/* DASHBOARD */
.dashboard__container {
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.departments {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: clamp(1rem, -3.182rem + 20.91vw, 12.5rem);
	align-items: flex-end; 
}
.department {
	color: #808080;
	font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
	font-weight: 400;
	cursor: pointer;
	position: relative;
	padding-bottom: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}

.department.active {
	font-weight: 600;
	color: #1C3554;
}

.department.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	border-radius: 2.5px;
	background-color: #F72585;
}

.tab-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease;
}
.tab-content.active {
    opacity: 1;
    height: auto;
    overflow: visible;
}

.tab-content.active {
	display: block;
}

/* DASHBOARD */
