.page-header{
	background-color: #666;
	padding-bottom: 120px;
	color: #fff;
}
.blog-post__container{
	margin-top: 100px;
  margin-bottom: 56px;
}
.blog-post {
	display: flex;
	gap: 45px;
	margin-bottom: 56px;
	align-items: stretch;
  
}
.blog-post__image {
	width: 610px;
	height: 520px;
	object-fit: cover;
	border-radius: 8px;
}

.blog-post__content {
	width: 550px;
	display: flex;
	flex-direction: column;
justify-content: space-between;
	padding: 20px;
}
.blog-post__text{
gap: 16px;
}

.blog-post__title {
	margin-bottom: 16px;
}

.blog-post__meta {
	display: flex;
	align-items: center;
	gap: 16px;
	color: #808080;
  font-size: 14px;
	margin-bottom: 16px;
}
.little-circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #4586d6;
}

.blog-post__excerpt {
  color: #808080;
	margin-bottom: 72px;
}

.blog-post__button {
	display: inline-block;
	background-color: #F72585;
	color: white;
	padding: 12px 32px;
	border-radius: 8px;
	width: fit-content;

	/* margin-bottom: 12px; */

}
