{% extends "base.html" %}
{% load static %}

{% block css %}
		<link rel="stylesheet" href="{% static "deps/css/header-light.css"%}" />

		<link rel="stylesheet" href="{% static "deps/css/login.css"%}" />
{% endblock css %}

{% block content %}
<body>
	<div class="login-wrapper">
		<div class="login-container">
			<div class="login-header">
				<h1>Create Account</h1>
				<p>Fill out the form to register</p>
			</div>


			<form class="login-form" action="{% url "user:login" %}" method="post">
				{% csrf_token %}
				

				<div class="form-group">
					 {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p style="color: rgb(208, 62, 45); font-size: 14px; margin: 5px 0 0 0;">{{ error }}</p>
            {% endfor %}
        {% endif %}
					<label for="id_username">Username</label>
					<input
						type="text"
						id="id_username"
						name="username"
						placeholder="Enter your username"
						
						value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
						required

					/>
					
				</div>

				<div class="form-group">
					<label for="id_password">Password</label>
					<input
						type="password"
						id="id_password"
						name="password"
						placeholder="Enter your password"
						
						required
					/>
				</div>
				{% comment %} <div class="form-group">
					<label for="{{form.username.id_for_label }}">Username</label>
					{{ form.username }}
					<div class="error-message" id="username-error">
						Invalid username
					</div>
				</div>

				<div class="form-group">
					<label for="{{form.password.id_for_label }}">Password</label>
					{{ form.password}}
					<div class="error-message" id="password-error">Invalid password</div>
				</div> {% endcomment %}

				{% comment %} <div class="form-group">
					<label for="username">Username</label>
					<input
						type="text"
						id="username"
						name="username"
						placeholder="Enter your username"
						required
						class="username-input"

					/>
					<div class="error-message" id="username-error">
						Invalid username
					</div>
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input
						type="password"
						id="password"
						name="password"
						placeholder="Введите пароль"
						required
					/>
					<div class="error-message" id="password-error">Invalid password</div>
				</div>

				<div class="remember-forgot">
					<div class="remember-me">
						<input type="checkbox" id="remember"/>
						<label for="remember">Remember me</label>
					</div>
					<div class="forgot-password">
						<a href="#">Forgot password?</a>
					</div>
				</div>
				{% endcomment %}

				<button type="submit" class="login-button pink-btn">Login</button> 
			</form>

			<div class="register-link">
				<p>Don't have an account yet?</p>
				<P><a href="{% url "user:registration" %}">Register</a></P>
			</div>
		</div>
	</div>
</body>
{% endblock content %}
