{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/header-light.css' %}" />
<link rel="stylesheet" href="{% static 'deps/css/account.css' %}" />
{% endblock %}

{% block content %}
<main>
    <section class="profile">
        <div class="profile__container">
            <img src="{{ user.image.url }}" alt="User Avatar" class="profile__avatar" />
            <div class="profile__info">
                <h3 class="profile__name">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </h3>
                <p class="profile__position">Senior Developer</p>
            </div>
        </div>
    </section>

    <section class="dashboard">
        <div class="dashboard__container">
            <div class="departments">
                <a href="{% url 'users:profile' %}?tab=courses" 
                   class="department {% if active_tab == 'courses' %}active{% endif %}">
                    My Courses
                </a>
                <a href="{% url 'users:profile' %}?tab=wishlist" 
                   class="department {% if active_tab == 'wishlist' %}active{% endif %}">
                    Wishlist
                </a>
                <a href="{% url 'users:profile' %}?tab=certificates" 
                   class="department {% if active_tab == 'certificates' %}active{% endif %}">
                    My Certificates
                </a>
            </div>

            <div class="tab-content {% if active_tab == 'wishlist' %}active{% endif %}">
                {% if active_tab == 'wishlist' %}
                    {% include "users/users-wishlist.html" %}
                {% endif %}
            </div>

            <div class="tab-content {% if active_tab == 'certificates' %}active{% endif %}">
                {% if active_tab == 'certificates' %}
                    {% include "users/certificates-tab.html" %}
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}