{% load static %}
{% if wishlists %}
    {% for item in wishlists %}
    <div class="card-standart wishlist-item">
        <input type="checkbox" name="wishlist_ids" value="{{ item.id }}" id="wishlist-{{ item.id }}" class="wishlist-checkbox" style="display: none;">
        <div class="card-img">
            {% if item.course.image %}
                <img src="{{ item.course.image.url }}" alt="{{ item.course.name }}" />
            {% else %}
                <img src="{% static 'deps/img/image_not_found.png' %}" alt="">
            {% endif %}
        </div>
        <div class="card-body">
            <a href="{% url 'catalog:course' item.course.slug %}">
                <span class="course-title">
                    {% autoescape off %}
                        {% if item.course.headline %}
                            {{ item.course.headline|truncatechars:20 }}
                        {% else %}
                            {{ item.course.name|truncatechars:20 }}
                        {% endif %}
                    {% endautoescape %}
                </span>
            </a>
            <div class="course-meta">
                <span class="mentor">{{ item.course.mentor|truncatechars:30 }}</span>
                <span class="rating">
                    {% if item.course.rating %}
                        {% for star in item.course.rating %}
                            <img src="{% static star %}" alt="★" class="rating-star" />
                        {% endfor %}
                    {% else %}
                        <span>No rating</span>
                    {% endif %}
                </span>
                <span class="card-bottom">
                    <span class="price">
                        {% if item.course.discount %}
                            <span class="original-price">{{ item.course.formatted_price }}</span>
                            <span class="discounted-price">{{ item.course.formatted_sell_price }}</span>
                        {% else %}
                            <span class="regular-price">{{ item.course.formatted_price }}</span>
                        {% endif %}
                    </span>
                    <span class="trash-bin ">
                        <a href="{% url "wishlist:wishlist_remove" item.id %}" class="remove-from-wishlist" data-wishlist-id="{{ item.id }}">
                        <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 7V7C9 5.34315 10.3431 4 12 4V4C13.6569 4 15 5.34315 15 7V7M9 7H15M9 7H6M15 7H18M20 7H18M4 7H6M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                        </a>
                    </span>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}